/* RESET DO CSS */
*{
    margin: 0;
    padding: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
    text-align: center;
    margin: 8px;
}

header {
    background-color: rgb(252, 69, 96);
    color: white; 
    padding: 74px;
}

main {
height: 600px;
background-color: rgb(245, 223, 223);
}